.navBarContainer {
  background-color: white;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1800px;
  padding: 10px 100px;
  z-index: 1000;
}

.navBarUl{
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.nav-link{
  margin-left: 25px;
  font-size: 20px;
  color: #515A5A;
  text-decoration: none;
  cursor: pointer;
}
.nav-link:hover{
  color: black;
}

.social_icons{
  display: flex;
  margin-left: 40px;
  margin-right: 30px;
}


button {
  border-radius: 3px;
  border: 2px solid black;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  width: 185px;
  height: 60px;
  transition: border-color 0.25s;
  background-color: white;
}
button:hover {
  border: 1px solid #6C4D7B;
  color: #515A5A;
}


/* Extra Code Down Here */

/* For mobile devices */
@media screen and (max-width: 767px) {
  .navBarContainer{
    flex-direction: column;
    margin-top: 0px;
    padding-top: 40px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.98);
  }
  .navBarUl{
    flex-direction: column;
  }
  .navBarContainer li{
    margin: 15px auto;
  }
  .navBarContainer li .nav-link{
    margin: auto;
  }
  /* .hideBar{
    display: none;
  } */
}

/* For tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .social_icons{
    display: none;
  }
  button{
    margin-left: 25px;
  }
}