.skill-section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 600px;
  min-width: 600px;
  max-width: 1400px;
  margin-top: 100px;
  border-radius: 200px;
  font-size: 50px;
  color: white;
}
.skill-section-container p{
  font-size: 16px;
  width: 70%;
  margin: 30px auto;
  color: whitesmoke;
  opacity: 0.9;
}

.skill-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 300px;
  font-size: 16px;
  /* background-color: white; */
}

.skills-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height:70px;
  width:70px;
  margin:5px 25px;
  background-color:whitesmoke;
  border-radius: 30%;
}
.skills-icon:hover{
  animation: anim 2s ease 0s 1 normal forwards;
}


@keyframes anim {
	0%, 
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-15px) rotate(-6deg);
	}

	30% {
		transform: translateX(10px) rotate(6deg);
	}

	45% {
		transform: translateX(-10px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


/* Extra Code Down Here */

/* For mobile devices */
@media screen and (max-width: 767px) {
  .skill-section-container{
    width: 100%;
    min-width: 200px;
  }
  .skill-section-container p{
    width: 70%;
  }
}

/* For tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .skill-section-container{
    width: 100%;
  }
}